.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.field label {
    flex-grow: 1;
}

.field input {
    flex-grow: 5;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 0.5em;
}

.field input[type="submit"] {
    flex-grow: 0;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.field .button-link {
    flex-grow: 0;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
}